
/* reset */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


/* main body styles */
html,
body {
	height: 100%; 
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

/* top level wrappers */ 
#app-container,
.app-wrapper {
	height: 100%; 
	width: 100%;
}

.meme-list-item {
	width: 100%;
	margin: 14px;
}

.app-body {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 12px;

	.canvas-container {
		width: 50%;
		text-align: right;
		.meme-canvas {
			box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
		}
	}
	.inputs-container {
		width: 50%;
		padding: 36px;
	}
}


.color-picker-input {
	.color-picker-label {
		display: inline-block;
		margin-right: 14px;
	}
	.color-picker-button {
		width: 64px;
		height: 32px;
		span {
			height: 100%;
			width: 100%; 
			display: block;
		}
	}
}

.color-picker-canvas-wrapper {
	position: absolute;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}